footer
    if indexPage
        p#footerParagraph.footer *WARNING*, Please do not rely too heavily on using this site. This site was made for fun and uses a free database hosting option. Thus, any user/flashcard data could be deleted at anytime to free up space in the database.