extends layout.pug
block content
    section#changeDeck      
        if (listOfUsersCollections.length > 0)
            p Please click on the deck that you wish to change to
            .deckContainer
                each name in listOfUsersCollections
                        form(action='/changeDeck', method='post', onsubmit ="return submitted(this)")
                            input(hidden type='text', name='deckName' value = name)
                            button(type='submit' name= 'submitButton' class = 'changeDeckButton')= name    
        else
            p There seem to be no decks inside of your account. Please
            .fakeButton#needDeckFirst
                 a(href="createDeck") Click here to create a deck

