doctype html
html(lang="en")
  head
  <meta charset="utf-8">
    title Study Sesh
    <meta name="description" content="A flash card app to help you study. Come create your own custom flash card decks and quiz yourself!">
    <meta name="author" content="Mike Tona">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel='stylesheet', href = '/style/css/main-min.css')
    <script src="https://kit.fontawesome.com/382e227878.js" crossorigin="anonymous"></script>
  body
    include  includes/header.pug
    block content
    include includes/footer.pug
    script(src = '/js/anime.min.js')
    script(src = '/js/main.js')
    