//colorScheme
$lightblue: #6DD5FA;
$darkerblue: #32B6E6;
$darkestblue:#3E61E6;
$orangered:#E66D49;
$purple: #2A628F;
$orange:#E6841C;
$green:#88E627;
$gold: #E6B11C;
$lapis: #2A628F;
$other: #E4572E; //A5F8D3
//2A628F